* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.posts-wrapper{ 
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
